body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  text-align: center;
  color: rgb(81, 148, 248);
  font-size: 5em;
}

h2 {
  text-align: center;
  color: rgb(122, 48, 182);
  font-size: 3em;
}

h3 {
  text-align: center;
  color: rgb(214, 176, 245);
  font-size: 2.5em;
}

p {
  text-align: center;
  font-size: 2em;
}

a {
  text-decoration: none;
  list-style: none;
  padding-left: 1em;
}

a:visited {
  color: rgb(19, 25, 82);
}


.nav-bar {
  background-color: rgb(255, 253, 253);
  opacity: 0.8;
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2.5rem;
  list-style-type: none;
  font-size: 32px;
}

.index-body {
  background-image: url("images/home_background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.menu-body {
  background-image: url("images/menu_bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.content-section {
  border-radius: 28px;
  background-color: black;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-top: 5em;
  margin: 5em;
}


.menu-box{
  background-color: black;
  opacity: 0.8 ;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 28px;
  margin-top: 5em;
  margin-left: 5em;
  margin: 5em;
}
.menu-heading{
  margin-bottom: 25px;
  font-size: 35px;
}
.heading{
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.unordered{
  list-style: none;
}
.list-items{
  font-size: 25px;
  letter-spacing: 2.5px;
}
.prices{
  float: right;
  padding-right: 2em;
  
}
.footer-style {
  background-color: rgb(255, 253, 253);
  opacity: 0.8;
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  list-style-type: none;
  font-size: 32px;
  }